/****************************** Universal Styles ******************************/
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
  font-size: 16px;
}

.mobile-show {
  display: none;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  height: auto;
  width: 100%;
}

.video-container {
  width: 100%
}

.video-container video {
  width: inherit;
}

@media only screen and (max-width: 575px) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: inherit;
  }
}

/********************** header-footer main screen layout **********************/
body {
  /* border-style: solid;
  border-color: red;
  height: 100vh;
  margin: 0; */
}

.header {
  position: absolute;
  height: 80px;
  width: 100vw;

  border-bottom: 1px solid blue;
}

.main-body {
  position: relative;
  top: 81px;
  width: 100vw;
  /* height: calc(100vh - (81px + 51px)); */
}

.footer {
  position: absolute;
  bottom: 0vh;
  height: 50px;
  width: 100vw;

  border-top: 1px solid red;
}
