/****************************** Universal Styles ******************************/

html {
  font-family: Helvetica;
  font-size: 16px;
}

.mobile-show {
  display: none;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  height: auto;
  width: 100%;
}

.video-container {
  width: 100%
}

.video-container video {
  width: inherit;
}

@media only screen and (max-width: 575px) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: inherit;
  }
}

/********************************************************/
body {
  border-style: solid;
  border-color: red;
  height: 100vh;
  margin: 0;
}

.header {
  /* position: absolute; */
  height: 80px;
  border-bottom: 2px solid blue;
}

.main-body {
  /* position: absolute; */
  top: 82px;
  border-width: 2px;
  height: 100vh-(2*82px);
}

.footer {
  /* position: absolute; */
  height: 80px;
  bottom: 100vh;

  border-top: 2px solid red;
}
