/****************************** Universal Styles ******************************/

html {
  font-family: Helvetica;
  font-size: 16px;
}

.mobile-show {
  display: none;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  height: auto;
  width: 100%;
}

.video-container {
  width: 100%
}

.video-container video {
  width: inherit;
}

@media only screen and (max-width: 575px) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: inherit;
  }
}

----------------
body {
  border-style: solid;
  border-color: red;
  height: 100vh;
}

.header {
  position: absolute;
  height: 80px;
  border-bottom-width: 2px;
}

.footer {
  position: absolute;
  height: 80px;
  top: 100vh-82px;

  border-top-width: 2px;
}
